<configuration>
    <appender name="NETWORK_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{HH:mm:ss}][%level] \(%logger{36}\) %msg%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="NETWORK_ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %red([%d{HH:mm:ss}][%level][%class{0}.%method\(%file:%line\)] \(%logger{36}\) %msg%n)
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="NETWORK_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/network.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/network-%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>

            <maxHistory>10</maxHistory>

            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{HH:mm:ss}][%level] \(%logger{36}\) %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.emberstudios.networking" level="debug">
        <appender-ref ref="NETWORK_CONSOLE" />
        <appender-ref ref="NETWORK_ERROR_CONSOLE" />
        <appender-ref ref="NETWORK_FILE" />
    </logger>

    <root level="trace">
        <appender-ref ref="NETWORK_CONSOLE" />
        <appender-ref ref="NETWORK_ERROR_CONSOLE" />
        <appender-ref ref="NETWORK_FILE" />
    </root>
</configuration>
