<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%d{HH:mm:ss}][%thread][%level] \(%logger{36}\) %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}][%thread][%level][%class{0}.%method\(%file:%line\)] \(%logger{36}\) %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="EDITOR_CONSOLE" class="org.emberstudios.engine.util.ConsoleWindowLogAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{HH:mm:ss}][%thread][%level][%class{0}.%method\(%file:%line\)] \(%logger{36}\) %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd_HH-mm-ss}.log</fileNamePattern>

            <maxHistory>10</maxHistory>

            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{HH:mm:ss}][%thread][%level] \(%logger{36}\) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERROR_CONSOLE" />
        <appender-ref ref="EDITOR_CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>